@page
@model AspnetCoreStarter.Pages.IndexModel
@{
  ViewData["Title"] = "Home - Starter Kit";
}

@* ************** Content ************** *@
<h4 class="py-4 mb-6">Page 1</h4>
<p>Sample page.<br />For more layout options, refer <a href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/net-core-init-layout.html" target="_blank" class="fw-medium">Layout docs</a>.</p>
