@page
@model AspnetCoreStarter.Pages.Page2Model
@{

  ViewData["Title"] = "Page 2 - Starter Kit";
}

@* ************** Content ************** *@
<h4 class="py-4 mb-6">Page 2</h4>

<p>Sample page.<br />For more layout options, refer <a href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/net-core-init-layout.html" target="_blank" class="fw-medium">Layout docs</a>.</p>
